# JANUARY FLIGHT DELAY PREDICTION

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import pyplot

In [2]:
flights_january_2019 = pd.read_csv("/Users/soledadmusella/Desktop/january/Jan_2019.csv")

In [3]:
flights_january_2019.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0,NaN
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0,NaN
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0,NaN
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0,NaN
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0,NaN

In [4]:
flights_january_2019.columns

Index(['DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER',
       'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST', 'DEP_TIME',
       'DEP_DEL15', 'DEP_TIME_BLK', 'ARR_TIME', 'ARR_DEL15', 'CANCELLED',
       'DIVERTED', 'DISTANCE', 'Unnamed: 21'],
      dtype='object')

In [5]:
flights_january_2019.shape

(583985, 22)

In [6]:
flights_january_2020 = pd.read_csv("/Users/soledadmusella/Desktop/january/Jan_2020.csv")

In [7]:
flights_january_2020.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,3,EV,20366,EV,N48901,4397,13930,1393007,ORD,...,GRB,1003.0,0.0,1000-1059,1117.0,0.0,0.0,0.0,174.0,NaN
1,1,3,EV,20366,EV,N16976,4401,15370,1537002,TUL,...,ORD,1027.0,0.0,1000-1059,1216.0,0.0,0.0,0.0,585.0,NaN
2,1,3,EV,20366,EV,N12167,4404,11618,1161802,EWR,...,TYS,1848.0,0.0,1800-1859,2120.0,0.0,0.0,0.0,631.0,NaN
3,1,3,EV,20366,EV,N14902,4405,10781,1078105,BTR,...,IAH,1846.0,0.0,1800-1859,2004.0,0.0,0.0,0.0,253.0,NaN
4,1,3,EV,20366,EV,N606UX,4407,14524,1452401,RIC,...,IAH,1038.0,0.0,1000-1059,1330.0,0.0,0.0,0.0,1157.0,NaN

In [8]:
flights_january_2020.columns

Index(['DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER',
       'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST', 'DEP_TIME',
       'DEP_DEL15', 'DEP_TIME_BLK', 'ARR_TIME', 'ARR_DEL15', 'CANCELLED',
       'DIVERTED', 'DISTANCE', 'Unnamed: 21'],
      dtype='object')

In [9]:
flights_january_2020.shape

(607346, 22)

## Data Cleaning and Data Inspecting

In [10]:
flights_january_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607346 entries, 0 to 607345
Data columns (total 22 columns):
DAY_OF_MONTH             607346 non-null int64
DAY_OF_WEEK              607346 non-null int64
OP_UNIQUE_CARRIER        607346 non-null object
OP_CARRIER_AIRLINE_ID    607346 non-null int64
OP_CARRIER               607346 non-null object
TAIL_NUM                 606648 non-null object
OP_CARRIER_FL_NUM        607346 non-null int64
ORIGIN_AIRPORT_ID        607346 non-null int64
ORIGIN_AIRPORT_SEQ_ID    607346 non-null int64
ORIGIN                   607346 non-null object
DEST_AIRPORT_ID          607346 non-null int64
DEST_AIRPORT_SEQ_ID      607346 non-null int64
DEST                     607346 non-null object
DEP_TIME                 600682 non-null float64
DEP_DEL15                600647 non-null float64
DEP_TIME_BLK             607346 non-null object
ARR_TIME                 600271 non-null float64
ARR_DEL15                599268 non-null float64
CANCELLED                607346 non-null float64
DIVERTED                 607346 non-null float64
DISTANCE                 607346 non-null float64
Unnamed: 21              0 non-null float64
dtypes: float64(8), int64(8), object(6)
memory usage: 101.9+ MB

In [11]:
flights_january_2020.describe()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEP_TIME,DEP_DEL15,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
count,607346.000000,607346.000000,607346.000000,607346.000000,607346.000000,6.073460e+05,607346.000000,6.073460e+05,600682.000000,600647.000000,600271.000000,599268.000000,607346.000000,607346.000000,607346.000000,0.0
mean,16.014354,3.955735,19994.137492,2622.365261,12657.389167,1.265743e+06,12657.196320,1.265724e+06,1331.512559,0.136326,1477.968924,0.137309,0.011407,0.001893,798.022341,NaN
std,8.990719,1.910205,375.754232,1822.545302,1524.407203,1.524405e+05,1524.279269,1.524277e+05,497.095168,0.343135,525.543294,0.344174,0.106193,0.043473,587.282639,NaN
min,1.000000,1.000000,19393.000000,1.000000,10135.000000,1.013506e+06,10135.000000,1.013506e+06,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,31.000000,NaN
25%,8.000000,2.000000,19790.000000,1070.000000,11292.000000,1.129202e+06,11292.000000,1.129202e+06,919.000000,0.000000,1058.000000,0.000000,0.000000,0.000000,369.000000,NaN
50%,16.000000,4.000000,19977.000000,2177.000000,12889.000000,1.288903e+06,12889.000000,1.288903e+06,1326.000000,0.000000,1513.000000,0.000000,0.000000,0.000000,641.000000,NaN
75%,24.000000,5.000000,20378.000000,4108.000000,14027.000000,1.402702e+06,14027.000000,1.402702e+06,1739.000000,0.000000,1918.000000,0.000000,0.000000,0.000000,1037.000000,NaN
max,31.000000,7.000000,20452.000000,6860.000000,16869.000000,1.686901e+06,16869.000000,1.686901e+06,2400.000000,1.000000,2400.000000,1.000000,1.000000,1.000000,5095.000000,NaN

In [12]:
flights_january_2020["DAY_OF_MONTH"].value_counts()

6     20943
10    20810
31    20809
24    20789
9     20789
17    20788
16    20762
30    20757
23    20756
5     20632
3     20616
2     20612
27    20609
13    20589
20    20248
26    19911
12    19897
29    19675
22    19671
8     19670
15    19669
21    19169
7     19164
14    19156
28    19155
1     18114
4     18099
19    18066
11    16033
25    15984
18    15404
Name: DAY_OF_MONTH, dtype: int64

In [13]:
flights_january_2020["DAY_OF_MONTH"].isnull().sum()

0

In [14]:
flights_january_2020["DAY_OF_WEEK"].value_counts()

5    103812
4    103676
3     96799
1     82389
7     78506
2     76644
6     65520
Name: DAY_OF_WEEK, dtype: int64

In [15]:
flights_january_2020["DAY_OF_WEEK"].isnull().sum()

0

In [16]:
flights_january_2020["OP_UNIQUE_CARRIER"].value_counts()

WN    109770
DL     80067
AA     76276
OO     71160
UA     48401
YX     29123
MQ     26200
B6     24709
OH     24309
9E     23068
AS     21110
YV     17836
NK     17477
F9     12467
EV     10564
G4      7774
HA      7035
Name: OP_UNIQUE_CARRIER, dtype: int64

In [17]:
flights_january_2020["OP_UNIQUE_CARRIER"].isnull().sum()

0

In [18]:
flights_january_2020["OP_CARRIER_AIRLINE_ID"].value_counts()

19393    109770
19790     80067
19805     76276
20304     71160
19977     48401
20452     29123
20398     26200
20409     24709
20397     24309
20363     23068
19930     21110
20378     17836
20416     17477
20436     12467
20366     10564
20368      7774
19690      7035
Name: OP_CARRIER_AIRLINE_ID, dtype: int64

In [19]:
flights_january_2020["OP_CARRIER_AIRLINE_ID"].isnull().sum()

0

In [20]:
flights_january_2020["OP_CARRIER"].value_counts()# Code assigned by IATA and commonly used to identify a carrier.

WN    109770
DL     80067
AA     76276
OO     71160
UA     48401
YX     29123
MQ     26200
B6     24709
OH     24309
9E     23068
AS     21110
YV     17836
NK     17477
F9     12467
EV     10564
G4      7774
HA      7035
Name: OP_CARRIER, dtype: int64

In [21]:
flights_january_2020["OP_CARRIER"].isnull().sum()

0

In [22]:
flights_january_2020["TAIL_NUM"].value_counts().sum()

606648

In [23]:
flights_january_2020["TAIL_NUM"].isnull().sum()

698

In [24]:
NAN_NONE=(flights_january_2020["TAIL_NUM"].isnull().sum())*100/(flights_january_2020["TAIL_NUM"].value_counts().sum())

In [25]:
NAN_NONE

0.1150584853160317

I can see that the percentage of null values is really low 0,11% so i will drop them

In [26]:
flights_january_2020["TAIL_NUM"].dropna(inplace= True)

In [27]:
flights_january_2020["OP_CARRIER_FL_NUM"].value_counts()

416     349
478     340
519     328
403     322
1095    311
1226    305
834     297
1590    294
1423    292
1251    290
261     285
443     285
1926    283
1552    277
486     275
410     274
1743    272
676     271
729     269
927     268
1102    266
2074    266
546     266
1045    264
1387    263
35      261
770     260
301     260
533     259
671     258
       ...
6485      1
6619      1
6401      1
6501      1
6538      1
4985      1
6230      1
6603      1
6771      1
6536      1
6489      1
6696      1
6655      1
6625      1
6664      1
6404      1
6429      1
6671      1
6648      1
6482      1
6716      1
6633      1
6345      1
6526      1
6315      1
6434      1
6703      1
6400      1
6666      1
6728      1
Name: OP_CARRIER_FL_NUM, Length: 6720, dtype: int64

In [28]:
flights_january_2020["OP_CARRIER_FL_NUM"].isnull().sum()

0

In [29]:
flights_january_2020["ORIGIN_AIRPORT_ID"].value_counts()

10397    32190
13930    25661
11298    24339
11292    20398
11057    19995
12892    17799
14107    15325
12266    14792
12889    14186
12953    13836
14771    13684
11433    13195
13204    12820
13487    12429
10721    12182
14747    11583
11278    11575
11618    11415
12478    10312
14869    10196
11697     9446
14100     8839
13303     8375
10821     7886
14679     7477
15304     6787
10693     6628
11259     6167
13232     6135
15016     5647
         ...
10918       54
12888       54
12129       54
12244       54
12917       54
10558       54
11447       54
12343       53
15582       53
10967       53
10170       53
14534       51
14955       44
14812       37
13121       35
11092       31
11233       31
12223       27
13964       24
14259       20
14905       16
15008       13
10562       13
12119       12
15454       10
14222        9
13983        9
13829        9
10165        9
11097        1
Name: ORIGIN_AIRPORT_ID, Length: 351, dtype: int64

In [30]:
flights_january_2020["ORIGIN_AIRPORT_ID"].isnull().sum()

0

In [31]:
flights_january_2020["ORIGIN_AIRPORT_SEQ_ID"].value_counts()

1039707    32190
1393007    25661
1129806    24339
1129202    20398
1105703    19995
1289208    17799
1410702    15325
1226603    14792
1288903    14186
1295304    13836
1477104    13684
1143302    13195
1320402    12820
1348702    12429
1072102    12182
1474703    11583
1127805    11575
1161802    11415
1247805    10312
1486903    10196
1169706     9446
1410005     8839
1330303     8375
1082106     7886
1467903     7477
1530402     6787
1069302     6628
1125904     6167
1323202     6135
1501606     5647
           ...
1033302       54
1289902       54
1212903       54
1144705       54
1290205       54
1291703       54
1055803       54
1096702       53
1234305       53
1558203       53
1017004       53
1453402       51
1495503       44
1481202       37
1312102       35
1109204       31
1123302       31
1222305       27
1396403       24
1425902       20
1490505       16
1500803       13
1056202       13
1211902       12
1545405       10
1382903        9
1398305        9
1422207        9
1016506        9
1109702        1
Name: ORIGIN_AIRPORT_SEQ_ID, Length: 351, dtype: int64

In [32]:
flights_january_2020["ORIGIN_AIRPORT_SEQ_ID"].isnull().sum()

0

In [33]:
flights_january_2020["ORIGIN"].value_counts()

ATL    32190
ORD    25661
DFW    24339
DEN    20398
CLT    19995
LAX    17799
PHX    15325
IAH    14792
LAS    14186
LGA    13836
SFO    13684
DTW    13195
MCO    12820
MSP    12429
BOS    12182
SEA    11583
DCA    11575
EWR    11415
JFK    10312
SLC    10196
FLL     9446
PHL     8839
MIA     8375
BWI     7886
SAN     7477
TPA     6787
BNA     6628
DAL     6167
MDW     6135
STL     5647
       ...
LBL       54
HVN       54
ESC       54
CDC       54
LAR       54
APN       54
DVL       54
ADQ       53
INL       53
VEL       53
CGI       53
RIW       51
SPN       44
SHR       37
LWB       35
CNY       31
CYS       31
HTS       27
OTH       24
PSM       20
SMX       16
STC       13
BFM       13
HGR       12
UIN       10
ADK        9
OWB        9
OGD        9
PPG        9
COD        1
Name: ORIGIN, Length: 351, dtype: int64

In [34]:
flights_january_2020["ORIGIN"].isnull().sum()

0

In [35]:
flights_january_2020["DEST_AIRPORT_ID"].value_counts()

10397    32187
13930    25687
11298    24354
11292    20405
11057    20002
12892    17794
14107    15333
12266    14793
12889    14184
12953    13836
14771    13686
11433    13190
13204    12816
13487    12428
10721    12190
14747    11585
11278    11575
11618    11420
12478    10302
14869    10213
11697     9445
14100     8839
13303     8371
10821     7885
14679     7470
15304     6779
10693     6625
11259     6171
13232     6137
15016     5644
         ...
12902       54
10558       54
10918       54
12899       54
10739       54
11447       54
11587       54
12917       54
12888       54
10170       53
15582       53
10967       53
14534       51
14955       44
14812       38
13121       35
11092       31
11233       31
12223       27
13964       24
14259       20
14905       16
15008       13
10562       13
12119       12
10165        9
14222        9
13983        9
15454        9
13829        9
Name: DEST_AIRPORT_ID, Length: 350, dtype: int64

In [36]:
flights_january_2020["DEST_AIRPORT_ID"].isnull().sum()

0

In [37]:
flights_january_2020["DEST_AIRPORT_SEQ_ID"].value_counts()

1039707    32187
1393007    25687
1129806    24354
1129202    20405
1105703    20002
1289208    17794
1410702    15333
1226603    14793
1288903    14184
1295304    13836
1477104    13686
1143302    13190
1320402    12816
1348702    12428
1072102    12190
1474703    11585
1127805    11575
1161802    11420
1247805    10302
1486903    10213
1169706     9445
1410005     8839
1330303     8371
1082106     7885
1467903     7470
1530402     6779
1069302     6625
1125904     6171
1323202     6137
1501606     5644
           ...
1091802       54
1288802       54
1144705       54
1158702       54
1055803       54
1289902       54
1291703       54
1290205       54
1212903       54
1558203       53
1096702       53
1017004       53
1453402       51
1495503       44
1481202       38
1312102       35
1109204       31
1123302       31
1222305       27
1396403       24
1425902       20
1490505       16
1056202       13
1500803       13
1211902       12
1016506        9
1398305        9
1422207        9
1382903        9
1545405        9
Name: DEST_AIRPORT_SEQ_ID, Length: 350, dtype: int64

In [38]:
flights_january_2020["DEST_AIRPORT_SEQ_ID"].isnull().sum()

0

In [39]:
flights_january_2020["DEST"].value_counts()

ATL    32187
ORD    25687
DFW    24354
DEN    20405
CLT    20002
LAX    17794
PHX    15333
IAH    14793
LAS    14184
LGA    13836
SFO    13686
DTW    13190
MCO    12816
MSP    12428
BOS    12190
SEA    11585
DCA    11575
EWR    11420
JFK    10302
SLC    10213
FLL     9445
PHL     8839
MIA     8371
BWI     7885
SAN     7470
TPA     6779
BNA     6625
DAL     6171
MDW     6137
STL     5644
       ...
CDC       54
DVL       54
HIB       54
BRD       54
ESC       54
LCK       54
LBL       54
LAR       54
INL       54
ADQ       53
CGI       53
VEL       53
RIW       51
SPN       44
SHR       38
LWB       35
CNY       31
CYS       31
HTS       27
OTH       24
PSM       20
SMX       16
STC       13
BFM       13
HGR       12
PPG        9
UIN        9
OWB        9
OGD        9
ADK        9
Name: DEST, Length: 350, dtype: int64

In [40]:
flights_january_2020["DEST"].isnull().sum()

0

In [41]:
flights_january_2020["DEP_TIME"].value_counts().sum()

600682

In [42]:
flights_january_2020["DEP_TIME"].isnull().sum()

6664

In [43]:
NAN = (flights_january_2020["DEP_TIME"].isnull().sum())*100/(flights_january_2020["DEP_TIME"].value_counts().sum())

In [44]:
NAN

1.1094056422533054

I will drop the null values becouse their percentage is really low

In [45]:
flights_january_2020["DEP_TIME"].dropna(inplace= True)

In [46]:
flights_january_2020["DEP_TIME"].isnull().sum()

0

In [47]:
flights_january_2020["DEP_DEL15"].value_counts().sum()

600647

In [48]:
flights_january_2020["DEP_DEL15"].isnull().sum()

6699

In [49]:
flights_january_2020["DEP_DEL15"].dropna(inplace= True)

In [50]:
flights_january_2020["DEP_TIME_BLK"].value_counts().sum()

607346

In [51]:
flights_january_2020["DEP_TIME_BLK"].isnull().dropna(inplace= True)

In [52]:
flights_january_2020["ARR_TIME"].value_counts().sum()

600271

In [53]:
flights_january_2020["ARR_TIME"].isnull().sum()

7075

In [54]:
flights_january_2020["ARR_TIME"].dropna(inplace= True)

In [55]:
flights_january_2020["ARR_DEL15"].value_counts().sum()

599268

In [56]:
flights_january_2020["ARR_DEL15"].isnull().sum()

8078

In [57]:
flights_january_2020["ARR_DEL15"].dropna(inplace= True)

In [58]:
flights_january_2020["ARR_DEL15"].isnull().sum()

0

In [59]:
flights_january_2020["CANCELLED"].value_counts()

0.0    600418
1.0      6928
Name: CANCELLED, dtype: int64

In [60]:
flights_january_2020["CANCELLED"].isnull().sum()

0

In [61]:
flights_january_2020["DIVERTED"].value_counts()

0.0    606196
1.0      1150
Name: DIVERTED, dtype: int64

In [62]:
flights_january_2020["DIVERTED"].isnull().sum()

0

In [63]:
flights_january_2020["DISTANCE"].value_counts()

337.0     3895
296.0     2899
399.0     2774
733.0     2507
214.0     2382
404.0     2369
867.0     2365
612.0     2345
335.0     2327
236.0     2311
328.0     2262
594.0     2199
447.0     2174
862.0     2112
588.0     2111
2475.0    2047
224.0     2039
651.0     2022
507.0     1946
304.0     1933
184.0     1930
937.0     1921
406.0     1917
100.0     1887
280.0     1845
925.0     1811
391.0     1807
223.0     1746
192.0     1738
762.0     1729
          ...
2421.0       8
176.0        8
2070.0       8
2438.0       8
705.0        7
578.0        6
1894.0       6
2395.0       6
1405.0       6
2110.0       6
1528.0       6
1059.0       6
1693.0       5
608.0        4
778.0        4
741.0        4
527.0        4
1451.0       4
497.0        4
1933.0       4
2559.0       3
1887.0       2
1248.0       2
1791.0       2
923.0        2
1884.0       2
747.0        2
2557.0       1
186.0        1
881.0        1
Name: DISTANCE, Length: 1471, dtype: int64

In [71]:
flights_january_2020["DISTANCE"].isnull().sum()

0

I will drop the columns "Unnamed: 21" becouse there is not much information about it

In [72]:
flights_january_2020["Unnamed: 21"].drop

<bound method Series.drop of 0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
          ..
607316   NaN
607317   NaN
607318   NaN
607319   NaN
607320   NaN
607321   NaN
607322   NaN
607323   NaN
607324   NaN
607325   NaN
607326   NaN
607327   NaN
607328   NaN
607329   NaN
607330   NaN
607331   NaN
607332   NaN
607333   NaN
607334   NaN
607335   NaN
607336   NaN
607337   NaN
607338   NaN
607339   NaN
607340   NaN
607341   NaN
607342   NaN
607343   NaN
607344   NaN
607345   NaN
Name: Unnamed: 21, Length: 607346, dtype: float64>

In [73]:
del flights_january_2020['Unnamed: 21']

In [75]:
flights_january_2020.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,3,EV,20366,EV,N48901,4397,13930,1393007,ORD,...,1197705,GRB,1003.0,0.0,1000-1059,1117.0,0.0,0.0,0.0,174.0
1,1,3,EV,20366,EV,N16976,4401,15370,1537002,TUL,...,1393007,ORD,1027.0,0.0,1000-1059,1216.0,0.0,0.0,0.0,585.0
2,1,3,EV,20366,EV,N12167,4404,11618,1161802,EWR,...,1541205,TYS,1848.0,0.0,1800-1859,2120.0,0.0,0.0,0.0,631.0
3,1,3,EV,20366,EV,N14902,4405,10781,1078105,BTR,...,1226603,IAH,1846.0,0.0,1800-1859,2004.0,0.0,0.0,0.0,253.0
4,1,3,EV,20366,EV,N606UX,4407,14524,1452401,RIC,...,1226603,IAH,1038.0,0.0,1000-1059,1330.0,0.0,0.0,0.0,1157.0