# JANUARY FLIGHT DELAY PREDICTION

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import pyplot

In [2]:
flights_january_2019 = pd.read_csv("/Users/soledadmusella/Desktop/january/Jan_2019.csv")

In [3]:
flights_january_2019.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0,NaN
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0,NaN
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0,NaN
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0,NaN
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0,NaN

In [4]:
flights_january_2019.columns

Index(['DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER',
       'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST', 'DEP_TIME',
       'DEP_DEL15', 'DEP_TIME_BLK', 'ARR_TIME', 'ARR_DEL15', 'CANCELLED',
       'DIVERTED', 'DISTANCE', 'Unnamed: 21'],
      dtype='object')

In [5]:
flights_january_2019.shape

(583985, 22)

In [6]:
flights_january_2020 = pd.read_csv("/Users/soledadmusella/Desktop/january/Jan_2020.csv")

In [7]:
flights_january_2020.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,3,EV,20366,EV,N48901,4397,13930,1393007,ORD,...,GRB,1003.0,0.0,1000-1059,1117.0,0.0,0.0,0.0,174.0,NaN
1,1,3,EV,20366,EV,N16976,4401,15370,1537002,TUL,...,ORD,1027.0,0.0,1000-1059,1216.0,0.0,0.0,0.0,585.0,NaN
2,1,3,EV,20366,EV,N12167,4404,11618,1161802,EWR,...,TYS,1848.0,0.0,1800-1859,2120.0,0.0,0.0,0.0,631.0,NaN
3,1,3,EV,20366,EV,N14902,4405,10781,1078105,BTR,...,IAH,1846.0,0.0,1800-1859,2004.0,0.0,0.0,0.0,253.0,NaN
4,1,3,EV,20366,EV,N606UX,4407,14524,1452401,RIC,...,IAH,1038.0,0.0,1000-1059,1330.0,0.0,0.0,0.0,1157.0,NaN

In [8]:
flights_january_2020.columns

Index(['DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER',
       'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST', 'DEP_TIME',
       'DEP_DEL15', 'DEP_TIME_BLK', 'ARR_TIME', 'ARR_DEL15', 'CANCELLED',
       'DIVERTED', 'DISTANCE', 'Unnamed: 21'],
      dtype='object')

In [9]:
flights_january_2020.shape

(607346, 22)

## Data Cleaning and Data Inspecting

In [10]:
flights_january_2020["DAY_OF_MONTH"].value_counts()

6     20943
10    20810
31    20809
24    20789
9     20789
17    20788
16    20762
30    20757
23    20756
5     20632
3     20616
2     20612
27    20609
13    20589
20    20248
26    19911
12    19897
29    19675
22    19671
8     19670
15    19669
21    19169
7     19164
14    19156
28    19155
1     18114
4     18099
19    18066
11    16033
25    15984
18    15404
Name: DAY_OF_MONTH, dtype: int64

In [11]:
flights_january_2020["DAY_OF_MONTH"].isnull().sum()

0

In [12]:
flights_january_2020["DAY_OF_WEEK"].value_counts()

5    103812
4    103676
3     96799
1     82389
7     78506
2     76644
6     65520
Name: DAY_OF_WEEK, dtype: int64

In [13]:
flights_january_2020["DAY_OF_WEEK"].isnull().sum()

0

In [14]:
flights_january_2020["OP_UNIQUE_CARRIER"].value_counts()

WN    109770
DL     80067
AA     76276
OO     71160
UA     48401
YX     29123
MQ     26200
B6     24709
OH     24309
9E     23068
AS     21110
YV     17836
NK     17477
F9     12467
EV     10564
G4      7774
HA      7035
Name: OP_UNIQUE_CARRIER, dtype: int64

In [15]:
flights_january_2020["OP_UNIQUE_CARRIER"].isnull().sum()

0

In [16]:
flights_january_2020["OP_CARRIER_AIRLINE_ID"].value_counts()

19393    109770
19790     80067
19805     76276
20304     71160
19977     48401
20452     29123
20398     26200
20409     24709
20397     24309
20363     23068
19930     21110
20378     17836
20416     17477
20436     12467
20366     10564
20368      7774
19690      7035
Name: OP_CARRIER_AIRLINE_ID, dtype: int64

In [17]:
flights_january_2020["OP_CARRIER_AIRLINE_ID"].isnull().sum()

0

In [18]:
flights_january_2020["OP_CARRIER"].value_counts()# Code assigned by IATA and commonly used to identify a carrier.

WN    109770
DL     80067
AA     76276
OO     71160
UA     48401
YX     29123
MQ     26200
B6     24709
OH     24309
9E     23068
AS     21110
YV     17836
NK     17477
F9     12467
EV     10564
G4      7774
HA      7035
Name: OP_CARRIER, dtype: int64

In [19]:
flights_january_2020["OP_CARRIER"].isnull().sum()

0

In [20]:
flights_january_2020["TAIL_NUM"].value_counts().sum()

606648

In [21]:
flights_january_2020["TAIL_NUM"].isnull().sum()

698

In [22]:
NAN_NONE=(flights_january_2020["TAIL_NUM"].isnull().sum())*100/(flights_january_2020["TAIL_NUM"].value_counts().sum())

In [23]:
NAN_NONE

0.1150584853160317

I can see that the percentage of null values is really low 0,11% so i will drop them

In [31]:
flights_january_2020["TAIL_NUM"].dropna()

0         N48901
1         N16976
2         N12167
3         N14902
4         N606UX
5         N605UX
6         N14991
7         N15986
8         N603UX
9         N13975
10        N616UX
11        N601UX
12        N13979
13        N14562
14        N13979
15        N13995
16        N11192
17        N14993
18        N614UX
19        N14568
20        N16987
21        N13995
22        N12563
23        N13538
24        N16987
25        N29906
26        N602UX
27        N13989
28        N14158
29        N14904
           ...
607316    N8908D
607317    N308PQ
607318    N308PQ
607319    N8918B
607320    N8918B
607321    N834AY
607322    N8877A
607323    N8894A
607324    N8894A
607325    N678CA
607326    N678CA
607327    N934XJ
607328    N934XJ
607329    N835AY
607330    N147PQ
607331    N147PQ
607332    N605LR
607333    N605LR
607334    N302PQ
607335    N929XJ
607336    N686BR
607337    N306PQ
607338    N8936A
607339    N329PQ
607340    N909XJ
607341    N331CA
607342    N295PQ
607343    N294PQ
607344    N228PQ
607345    N228PQ
Name: TAIL_NUM, Length: 606648, dtype: object

In [33]:
flights_january_2020["OP_CARRIER_FL_NUM"].value_counts()

416     349
478     340
519     328
403     322
1095    311
1226    305
834     297
1590    294
1423    292
1251    290
261     285
443     285
1926    283
1552    277
486     275
410     274
1743    272
676     271
729     269
927     268
1102    266
2074    266
546     266
1045    264
1387    263
35      261
770     260
301     260
533     259
671     258
       ...
6485      1
6619      1
6401      1
6501      1
6538      1
4985      1
6230      1
6603      1
6771      1
6536      1
6489      1
6696      1
6655      1
6625      1
6664      1
6404      1
6429      1
6671      1
6648      1
6482      1
6716      1
6633      1
6345      1
6526      1
6315      1
6434      1
6703      1
6400      1
6666      1
6728      1
Name: OP_CARRIER_FL_NUM, Length: 6720, dtype: int64

In [34]:
flights_january_2020["OP_CARRIER_FL_NUM"].isnull().sum()

0

In [35]:
flights_january_2020["ORIGIN_AIRPORT_ID"].value_counts()

10397    32190
13930    25661
11298    24339
11292    20398
11057    19995
12892    17799
14107    15325
12266    14792
12889    14186
12953    13836
14771    13684
11433    13195
13204    12820
13487    12429
10721    12182
14747    11583
11278    11575
11618    11415
12478    10312
14869    10196
11697     9446
14100     8839
13303     8375
10821     7886
14679     7477
15304     6787
10693     6628
11259     6167
13232     6135
15016     5647
         ...
10918       54
12888       54
12129       54
12244       54
12917       54
10558       54
11447       54
12343       53
15582       53
10967       53
10170       53
14534       51
14955       44
14812       37
13121       35
11092       31
11233       31
12223       27
13964       24
14259       20
14905       16
15008       13
10562       13
12119       12
15454       10
14222        9
13983        9
13829        9
10165        9
11097        1
Name: ORIGIN_AIRPORT_ID, Length: 351, dtype: int64

In [36]:
flights_january_2020["ORIGIN_AIRPORT_ID"].isnull().sum()

0

In [37]:
flights_january_2020["ORIGIN_AIRPORT_SEQ_ID"].value_counts()

1039707    32190
1393007    25661
1129806    24339
1129202    20398
1105703    19995
1289208    17799
1410702    15325
1226603    14792
1288903    14186
1295304    13836
1477104    13684
1143302    13195
1320402    12820
1348702    12429
1072102    12182
1474703    11583
1127805    11575
1161802    11415
1247805    10312
1486903    10196
1169706     9446
1410005     8839
1330303     8375
1082106     7886
1467903     7477
1530402     6787
1069302     6628
1125904     6167
1323202     6135
1501606     5647
           ...
1033302       54
1289902       54
1212903       54
1144705       54
1290205       54
1291703       54
1055803       54
1096702       53
1234305       53
1558203       53
1017004       53
1453402       51
1495503       44
1481202       37
1312102       35
1109204       31
1123302       31
1222305       27
1396403       24
1425902       20
1490505       16
1500803       13
1056202       13
1211902       12
1545405       10
1382903        9
1398305        9
1422207        9
1016506        9
1109702        1
Name: ORIGIN_AIRPORT_SEQ_ID, Length: 351, dtype: int64

In [38]:
flights_january_2020["ORIGIN_AIRPORT_SEQ_ID"].isnull().sum()

0